openapi: 3.1.0
info:
  title: BSK Mobile API
  version: 1.0.0-draft
  description: Nativekontrakt för trupp, spelare, utvecklingsträd och observation.
servers:
  - url: https://bsk2014.se/api/mobile/v1
paths:
  /players:
    get:
      summary: Behörig aktiv trupp med fokus och senaste observation
      responses:
        "200":
          description: Trupp
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerListEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /players/{playerId}:
    get:
      summary: Behörig spelardetalj
      parameters:
        - name: playerId
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Spelare, mål och de senaste 40 observationerna
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerDetailEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /players/{playerId}/development:
    parameters:
      - name: playerId
        in: path
        required: true
        schema: { type: integer, minimum: 1 }
    get:
      summary: Spelarens aktuella utvecklingsträd och senaste sparade utvecklingsbild
      responses:
        "200":
          description: Behörighetsstyrt utvecklingsträd
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerDevelopmentEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      summary: Spara en samlad utvecklingsbild och uppdatera aktuellt träd
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlayerDevelopmentUpdate" }
      responses:
        "200":
          description: Det uppdaterade utvecklingsträdet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerDevelopmentEnvelope"
        "400": { $ref: "#/components/responses/Invalid" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /players/{playerId}/conversations:
    parameters:
      - name: playerId
        in: path
        required: true
        schema: { type: integer, minimum: 1 }
    post:
      summary: Spara ett genomfört spelarsamtal separat från utvecklingsträdet
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlayerConversationCreate" }
      responses:
        "200":
          description: Uppdaterad spelardetalj med samtalshistorik
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerDetailEnvelope"
        "400": { $ref: "#/components/responses/Invalid" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /player-match-loads:
    get:
      summary: Ordinarie Gulspelare sorterade efter matchutrymme
      responses:
        "200":
          description: Matchutrymme från spelade matcher under de senaste sju dygnen samt kommande uttagningar och kallelser
          content:
            application/json:
              schema:
                type: object
                required: [apiVersion, data]
                properties:
                  apiVersion: { const: "1" }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PlayerMatchLoad" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /activities:
    get:
      summary: Behöriga aktiviteter för observationsflödet
      responses:
        "200":
          description: Högst 80 aktiviteter
          content:
            application/json:
              schema:
                type: object
                required: [apiVersion, data]
                properties:
                  apiVersion: { const: "1" }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Activity" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /activities/{activityId}/observations:
    post:
      summary: Skapa eller säkert återspela observationer
      parameters:
        - name: activityId
          in: path
          required: true
          schema: { type: string, minLength: 1 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [commands]
              properties:
                commands:
                  type: array
                  maxItems: 50
                  items: { $ref: "#/components/schemas/ObservationCommand" }
      responses:
        "200":
          description: Resultat per kommando; replay är ett lyckat idempotent utfall
          content:
            application/json:
              schema:
                type: object
                required: [apiVersion, data]
                properties:
                  apiVersion: { const: "1" }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ObservationResult" }
        "400": { $ref: "#/components/responses/Invalid" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Samma kommando-id har använts med annat innehåll
components:
  responses:
    Unauthorized:
      description: Inloggning krävs
    Forbidden:
      description: Rollen, permission eller gruppscopet saknar åtkomst
    NotFound:
      description: Objektet finns inte inom användarens scope
    Invalid:
      description: Ogiltig payload
  schemas:
    GoalSummary:
      type: object
      required: [id, slot, title, evidenceHint]
      properties:
        id: { type: string, format: uuid }
        slot: { type: integer, enum: [1, 2] }
        title: { type: string }
        evidenceHint: { type: string }
        reviewOn: { type: [string, "null"], format: date }
    ObservationSummary:
      type: object
      required: [id, activityId, activityDate, evidence, note, createdAt]
      properties:
        id: { type: string, format: uuid }
        activityId: { type: string }
        activityDate: { type: string, format: date }
        evidence: { type: string, enum: [shown, practicing, revisit] }
        note: { type: string, maxLength: 280 }
        createdAt: { type: string }
    PlayerSummary:
      type: object
      required: [id, name, position, primaryPosition, teamNames, activeGoals]
      properties:
        id: { type: integer }
        name: { type: string }
        jerseyNumber: { type: [integer, "null"] }
        position: { type: string }
        primaryPosition: { type: string }
        teamNames:
          type: array
          description: Aktiva permanenta laggrupper; cupimportens matchgrupper ingår inte.
          items: { type: string }
        activeGoals:
          type: array
          maxItems: 2
          items: { $ref: "#/components/schemas/GoalSummary" }
        lastObservation:
          oneOf:
            - { $ref: "#/components/schemas/ObservationSummary" }
            - { type: "null" }
    PlayerDetail:
      allOf:
        - { $ref: "#/components/schemas/PlayerSummary" }
        - type: object
          required: [goals, observations, conversations]
          properties:
            goals: { type: array, items: { type: object, additionalProperties: true } }
            observations: { type: array, maxItems: 40, items: { type: object, additionalProperties: true } }
            conversations:
              type: array
              maxItems: 30
              items: { $ref: "#/components/schemas/PlayerConversation" }
    PlayerConversation:
      type: object
      required: [id, date, coachName, coachSummary, playerPerspective, agreedActions, followUpOn, developmentCheckpointId, createdAt]
      properties:
        id: { type: string, format: uuid }
        date: { type: string, format: date }
        coachName: { type: string }
        coachSummary: { type: string }
        playerPerspective: { type: string }
        agreedActions: { type: string }
        followUpOn: { type: [string, "null"], format: date }
        developmentCheckpointId: { type: [string, "null"], format: uuid }
        createdAt: { type: string }
    PlayerConversationCreate:
      type: object
      required: [date, coachSummary, playerPerspective, agreedActions, followUpOn]
      properties:
        date: { type: string, format: date }
        coachSummary: { type: string, maxLength: 4000 }
        playerPerspective: { type: string, maxLength: 4000 }
        agreedActions: { type: string, maxLength: 4000 }
        followUpOn: { type: [string, "null"], format: date }
    SkillStatus:
      type: string
      enum: [not_started, training, almost, done]
    DevelopmentSkill:
      type: object
      required: [id, level, title, question, criterion, advice, nextStep, status, isFocus, isUnlocked]
      properties:
        id: { type: string }
        level: { type: integer, minimum: 1, maximum: 5 }
        title: { type: string }
        question: { type: string }
        criterion: { type: string }
        advice: { type: string }
        nextStep: { type: string }
        status: { $ref: "#/components/schemas/SkillStatus" }
        isFocus: { type: boolean }
        isUnlocked: { type: boolean }
    PlayerDevelopment:
      type: object
      required: [playerId, playerName, hasStatus, doneCount, activeCount, totalCount, latest, internalNote, categories]
      properties:
        playerId: { type: integer }
        playerName: { type: string }
        hasStatus: { type: boolean }
        doneCount: { type: integer, minimum: 0 }
        activeCount: { type: integer, minimum: 0 }
        totalCount: { type: integer, minimum: 0 }
        latest:
          oneOf:
            - type: object
              required: [id, date, coachName, strengths, focusNote, wellbeingNote]
              properties:
                id: { type: string, format: uuid }
                date: { type: string, format: date }
                coachName: { type: string }
                strengths: { type: string }
                focusNote: { type: string }
                wellbeingNote: { type: string }
            - { type: "null" }
        internalNote: { type: string }
        categories:
          type: array
          items:
            type: object
            required: [id, name, short, skills]
            properties:
              id: { type: string }
              name: { type: string }
              short: { type: string }
              skills:
                type: array
                items: { $ref: "#/components/schemas/DevelopmentSkill" }
    PlayerDevelopmentUpdate:
      type: object
      required: [date, strengths, focusNote, wellbeingNote, focusSkillIds, statuses]
      properties:
        date: { type: string, format: date }
        strengths: { type: string, maxLength: 2000 }
        focusNote: { type: string, maxLength: 2000 }
        wellbeingNote: { type: string, maxLength: 2000 }
        focusSkillIds:
          type: array
          maxItems: 2
          uniqueItems: true
          items: { type: string }
        statuses:
          type: object
          additionalProperties: { $ref: "#/components/schemas/SkillStatus" }
    PlayerMatchLoad:
      type: object
      required: [playerId, name, windowMatchCount, recentMatchCount, upcomingMatchCount, loadLevel, capacity, recentMatches, upcomingMatches]
      properties:
        playerId: { type: integer }
        name: { type: string }
        jerseyNumber: { type: [integer, "null"] }
        windowMatchCount: { type: integer, minimum: 0 }
        recentMatchCount: { type: integer, minimum: 0 }
        upcomingMatchCount: { type: integer, minimum: 0 }
        loadLevel: { type: string, enum: [normal, maximum, high] }
        capacity: { type: integer, minimum: 0, maximum: 100 }
        recentMatches:
          type: array
          items:
            type: object
            required: [id, date, title, sourceTeam]
            properties:
              id: { type: string }
              date: { type: string, format: date }
              startTime: { type: [string, "null"] }
              title: { type: string }
              sourceTeam: { type: string }
        upcomingMatches:
          type: array
          items:
            type: object
            required: [id, date, title, sourceTeam, status]
            properties:
              id: { type: string }
              date: { type: string, format: date }
              startTime: { type: [string, "null"] }
              title: { type: string }
              sourceTeam: { type: string }
              status: { type: string, enum: [selected, accepted, pending] }
    Activity:
      type: object
      required: [id, date, type, title, theme, challengeContext, observationCount, isPrimaryMatch, sourceTeam, matchLevel, loanedPlayerNames, finished, rosterSource, rosterLabel, rosterPlayerNames]
      properties:
        id: { type: string }
        date: { type: string, format: date }
        startTime: { type: [string, "null"] }
        type: { type: string, enum: [training, match, other] }
        title: { type: string }
        groupId: { type: [integer, "null"] }
        theme: { type: string }
        challengeContext: { type: string, enum: [safe, balanced, challenging] }
        observationCount: { type: integer, minimum: 0 }
        isPrimaryMatch: { type: boolean }
        sourceTeam: { type: string, enum: [Gul, Grön] }
        matchLevel: { type: string, enum: [Extra svår, Svår, Medel, Lätt, Extra lätt, Öppen klass] }
        loanedPlayerNames:
          type: array
          items: { type: string }
        finished: { type: boolean }
        rosterSource:
          type: string
          enum: [played, confirmed, selection, participation, accepted, lineup, none]
        rosterLabel: { type: string, enum: [Deltog, Trupp, Preliminär trupp, Laguppställning, Ingen trupp] }
        rosterPlayerNames:
          type: array
          items: { type: string }
    ObservationCommand:
      type: object
      required: [commandId, playerId, goalId, evidence, note]
      properties:
        commandId:
          type: string
          format: uuid
          description: Klientskapat UUID som sparas som observationens id och återanvänds vid retry.
        playerId: { type: integer, minimum: 1 }
        goalId: { type: string, format: uuid }
        evidence: { type: string, enum: [shown, practicing, revisit] }
        note: { type: string, maxLength: 280 }
    ObservationResult:
      type: object
      required: [commandId, observationId, status]
      properties:
        commandId: { type: string, format: uuid }
        observationId: { type: string, format: uuid }
        status: { type: string, enum: [created, replayed] }
    PlayerListEnvelope:
      type: object
      required: [apiVersion, data]
      properties:
        apiVersion: { const: "1" }
        data: { type: array, items: { $ref: "#/components/schemas/PlayerSummary" } }
    PlayerDetailEnvelope:
      type: object
      required: [apiVersion, data]
      properties:
        apiVersion: { const: "1" }
        data: { $ref: "#/components/schemas/PlayerDetail" }
    PlayerDevelopmentEnvelope:
      type: object
      required: [apiVersion, data]
      properties:
        apiVersion: { const: "1" }
        data: { $ref: "#/components/schemas/PlayerDevelopment" }
